= form_for [@task] do |form| 
	= hidden_field_tag :commit, @commit
	- if params.has_key?('parent_id')
		= hidden_field_tag :parent_id, params['parent_id']
	%fieldset		
		= label :task, :statement
		= form.text_field :statement, {:size => 80}
		%br
		= label :task, :next_action
		= form.text_field :next_action, {:size => 80}
		%br
		= label :task, :status
		= form.select 'status', options_from_collection_for_select(task.allowed_statuses, 'to_s', 'to_s')
		%br
		= label :task, :master
		= form.select :master_id, options_from_collection_for_select(User.all, :id, :name)
		- if @task.root?
			%br
			= label :task, :teammates
			= form.collection_select(:teammate_ids, User.all, :id, :name, {}, {:multiple => true, :size => 5})
		
	
	%div{:class => 'actions'}
		= form.button "Submit", class: "task-submit"
		= form.button "Cancel", class: "task-cancel"

