= form_for [@task] do |form| 
	= hidden_field_tag :commit, @commit
	%fieldset		
		= label :erg, :statement
		= form.text_field :statement, {:size => 80}
	
	%div{:class => 'actions'}
		= form.submit "SUBMIT"
