%li{id: "task-#{task.id}", class: "#{task.team ? 'team' : 'child'} task #{cycle('odd', 'even', name: :task_class)}"}
	%div{class: :content}
		= render partial: 'show_content', locals: {task: task, show_children: show_children}
	%ul{class: :children}
		- if show_children
			- task.children.each do |child|
				= render partial: 'show', locals: {task: child, depth: depth+1, show_children: true}
			//%li{id: "new-child-#{task.id}", class: "task #{cycle('odd', 'even', name: :task_class)}"}
			//	= link_to "New Child", new_task_path(parent_id: task), class: "new-child parent-id-#{task.id}"


